# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
medium_ft.pkl
Saved_Chats.csv
ipynb_checkpoints
*.ipynb
sarc*
fine-tune
fine_tune/config.json
fine_tune/log_history.json
fine_tune/merges.txt
fine_tune/pytorch_model.bin
fine_tune/special_tokens_map.json
fine_tune/tokenizer_config.json
fine_tune/training_args.bin
fine_tune/vocab.json
fine_tune/checkpoint-19000/config.json
fine_tune/checkpoint-19000/log_history.json
fine_tune/checkpoint-19000/optimizer.pt
fine_tune/checkpoint-19000/pytorch_model.bin
fine_tune/checkpoint-19000/scheduler.pt
fine_tune/checkpoint-19000/trainer_state.json
fine_tune/checkpoint-19000/training_args.bin
fine_tune/checkpoint-19500/config.json
fine_tune/checkpoint-19500/log_history.json
fine_tune/checkpoint-19500/optimizer.pt
fine_tune/checkpoint-19500/pytorch_model.bin
fine_tune/checkpoint-19500/scheduler.pt
fine_tune/checkpoint-19500/trainer_state.json
fine_tune/checkpoint-19500/training_args.bin
fine_tune/checkpoint-20000/config.json
fine_tune/checkpoint-20000/log_history.json
fine_tune/checkpoint-20000/optimizer.pt
fine_tune/checkpoint-20000/pytorch_model.bin
fine_tune/checkpoint-20000/scheduler.pt
fine_tune/checkpoint-20000/trainer_state.json
fine_tune/checkpoint-20000/training_args.bin
fine_tune/checkpoint-20500/config.json
fine_tune/checkpoint-20500/log_history.json
fine_tune/checkpoint-20500/optimizer.pt
fine_tune/checkpoint-20500/pytorch_model.bin
fine_tune/checkpoint-20500/scheduler.pt
fine_tune/checkpoint-20500/trainer_state.json
fine_tune/checkpoint-20500/training_args.bin
fine_tune/checkpoint-21000/config.json
fine_tune/checkpoint-21000/log_history.json
fine_tune/checkpoint-21000/optimizer.pt
fine_tune/checkpoint-21000/pytorch_model.bin
fine_tune/checkpoint-21000/scheduler.pt
fine_tune/checkpoint-21000/trainer_state.json
fine_tune/checkpoint-21000/training_args.bin
medium/config.json
medium/merges.txt
medium/vocab.json
.ipynb_checkpoints/Ship Class-checkpoint.ipynb
medium/config.json
medium/merges.txt
medium/vocab.json
medium/config.json
medium/merges.txt
medium/vocab.json
medium/config.json
medium/merges.txt
medium/vocab.json
Saved_Chats.csv
