# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
medium_ft.pkl
Saved_Chats.csv
ipynb_checkpoints
*.ipynb
fine-tune
fine_tune/config.json
fine_tune/log_history.json
fine_tune/merges.txt
fine_tune/pytorch_model.bin
fine_tune/special_tokens_map.json
fine_tune/tokenizer_config.json
fine_tune/training_args.bin
fine_tune/vocab.json
fine_tune/checkpoint-19000/config.json
fine_tune/checkpoint-19000/log_history.json
fine_tune/checkpoint-19000/optimizer.pt
fine_tune/checkpoint-19000/pytorch_model.bin
fine_tune/checkpoint-19000/scheduler.pt
fine_tune/checkpoint-19000/trainer_state.json
fine_tune/checkpoint-19000/training_args.bin
fine_tune/checkpoint-19500/config.json
fine_tune/checkpoint-19500/log_history.json
fine_tune/checkpoint-19500/optimizer.pt
fine_tune/checkpoint-19500/pytorch_model.bin
fine_tune/checkpoint-19500/scheduler.pt
fine_tune/checkpoint-19500/trainer_state.json
fine_tune/checkpoint-19500/training_args.bin
fine_tune/checkpoint-20000/config.json
fine_tune/checkpoint-20000/log_history.json
fine_tune/checkpoint-20000/optimizer.pt
fine_tune/checkpoint-20000/pytorch_model.bin
fine_tune/checkpoint-20000/scheduler.pt
fine_tune/checkpoint-20000/trainer_state.json
fine_tune/checkpoint-20000/training_args.bin
fine_tune/checkpoint-20500/config.json
fine_tune/checkpoint-20500/log_history.json
fine_tune/checkpoint-20500/optimizer.pt
fine_tune/checkpoint-20500/pytorch_model.bin
fine_tune/checkpoint-20500/scheduler.pt
fine_tune/checkpoint-20500/trainer_state.json
fine_tune/checkpoint-20500/training_args.bin
fine_tune/checkpoint-21000/config.json
fine_tune/checkpoint-21000/log_history.json
fine_tune/checkpoint-21000/optimizer.pt
fine_tune/checkpoint-21000/pytorch_model.bin
fine_tune/checkpoint-21000/scheduler.pt
fine_tune/checkpoint-21000/trainer_state.json
fine_tune/checkpoint-21000/training_args.bin
medium/config.json
medium/merges.txt
medium/vocab.json
.ipynb_checkpoints/Ship Class-checkpoint.ipynb
medium/config.json
medium/merges.txt
medium/vocab.json
medium/config.json
medium/merges.txt
medium/vocab.json
medium/config.json
medium/merges.txt
medium/vocab.json
Saved_Chats.csv
sarc_9/pytorch_model.bin
sarc_9/checkpoint-15500/config.json
sarc_9/checkpoint-15500/log_history.json
sarc_9/checkpoint-15500/optimizer.pt
sarc_9/checkpoint-15500/pytorch_model.bin
sarc_9/checkpoint-15500/scheduler.pt
sarc_9/checkpoint-15500/trainer_state.json
sarc_9/checkpoint-15500/training_args.bin
sarc_9/checkpoint-16000/config.json
sarc_9/checkpoint-16000/log_history.json
sarc_9/checkpoint-16000/optimizer.pt
sarc_9/checkpoint-16000/pytorch_model.bin
sarc_9/checkpoint-16000/scheduler.pt
sarc_9/checkpoint-16000/trainer_state.json
sarc_9/checkpoint-16000/training_args.bin
sarc_9/checkpoint-16500/config.json
sarc_9/checkpoint-16500/log_history.json
sarc_9/checkpoint-16500/optimizer.pt
sarc_9/checkpoint-16500/pytorch_model.bin
sarc_9/checkpoint-16500/scheduler.pt
sarc_9/checkpoint-16500/trainer_state.json
sarc_9/checkpoint-16500/training_args.bin
sarc_9/checkpoint-17000/config.json
sarc_9/checkpoint-17000/log_history.json
sarc_9/checkpoint-17000/optimizer.pt
sarc_9/checkpoint-17000/pytorch_model.bin
sarc_9/checkpoint-17000/scheduler.pt
sarc_9/checkpoint-17000/trainer_state.json
sarc_9/checkpoint-17000/training_args.bin
sarc_9/checkpoint-17500/config.json
sarc_9/checkpoint-17500/log_history.json
sarc_9/checkpoint-17500/optimizer.pt
sarc_9/checkpoint-17500/pytorch_model.bin
sarc_9/checkpoint-17500/scheduler.pt
sarc_9/checkpoint-17500/trainer_state.json
sarc_9/checkpoint-17500/training_args.bin
sarc_10/checkpoint-500/config.json
sarc_10/checkpoint-500/log_history.json
sarc_10/checkpoint-500/optimizer.pt
sarc_10/checkpoint-500/pytorch_model.bin
sarc_10/checkpoint-500/scheduler.pt
sarc_10/checkpoint-500/trainer_state.json
sarc_10/checkpoint-500/training_args.bin
starengine/__pycache__/__init__.cpython-36.pyc
starengine/__pycache__/__init__.cpython-37.pyc
starengine/__pycache__/asteroidbelt.cpython-36.pyc
starengine/__pycache__/asteroidbelt.cpython-37.pyc
starengine/__pycache__/dice.cpython-36.pyc
starengine/__pycache__/dice.cpython-37.pyc
starengine/__pycache__/gasgiant.cpython-36.pyc
starengine/__pycache__/gasgiant.cpython-37.pyc
starengine/__pycache__/orbitcontents.cpython-36.pyc
starengine/__pycache__/orbitcontents.cpython-37.pyc
starengine/__pycache__/planet.cpython-36.pyc
starengine/__pycache__/planet.cpython-37.pyc
starengine/__pycache__/planetsystem.cpython-36.pyc
starengine/__pycache__/planetsystem.cpython-37.pyc
starengine/__pycache__/satellites.cpython-36.pyc
starengine/__pycache__/satellites.cpython-37.pyc
starengine/__pycache__/star.cpython-36.pyc
starengine/__pycache__/star.cpython-37.pyc
starengine/__pycache__/starsystem.cpython-36.pyc
starengine/__pycache__/starsystem.cpython-37.pyc
starengine/__pycache__/tables.cpython-36.pyc
starengine/__pycache__/tables.cpython-37.pyc
starengine/__pycache__/world.cpython-36.pyc
starengine/__pycache__/world.cpython-37.pyc
__pycache__/game.cpython-36.pyc
starengine/output/__pycache__/__init__.cpython-36.pyc
starengine/output/__pycache__/__init__.cpython-37.pyc
starengine/output/__pycache__/latexout.cpython-36.pyc
starengine/output/__pycache__/latexout.cpython-37.pyc
Saved_Chats.csv
small_ft.pkl
small_reverse.pkl
